@font-face {
  src: url("./assets/fonts/Retro-Gaming.woff") format('woff');
  font-family: "gameover";
  font-weight: 400;
}

* {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.wrapper__canvas {
  position: relative;
}

.button {
  color: #ffffff;
  background-color: #3751e6;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
}

.button:hover {
  background-color: #6097e9;
  cursor: pointer;
}

.button--game {
  opacity: 0.4;
  position: absolute;
}

.button--up {
  top: 0;
  left: 50%;
  border-radius: 0 0 5px 5px;
  transform: translateX(-50%);
}

.button--down {
  bottom: 4px;
  left: 50%;
  border-radius: 5px 5px 0 0;
  transform: translateX(-50%);
}

.button--left {
  top: 50%;
  left: 0;
  border-radius: 0 5px 5px 0;
  transform: translateY(-50%);
}

.button--right {
  top: 50%;
  right: 0;
  border-radius: 5px 0 0 5px;
  transform: translateY(-50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.control__wrapper--row {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#canvas {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-controls {
  margin-top: 20px;
}

.hide {
  display: none;
}