* {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.control__wrapper--row {
  flex-direction: row;
}

#canvas {
  border: 1px solid black;
  box-sizing: border-box;
  height: auto;
}